<%- include("header") -%>
<div class="container">
    <div class="row">
        <div style="text-align: center" class="col border border-warning p-2 rborder m-3">
            <p><%= data.description %> </p>
            <p><%= data.label %> </p>
            <p><%= data.triage_level %> </p>
        </div>
    </div>
</div>


<%- include("footer") -%>